<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/lesson1.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson1/lesson1.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>1D Autonoma - InteractiCA</title>
</head>
<body>
    <!-- *********** COMMON ELEMENTS *********** -->
    <header>
        <h1><a class="nav-button" href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/1D-Automata">1D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/1D-Automata/cells">Cells</a>
                    <a href="/1D-Automata/cell-interactions">Cell Interactions</a>
                    <a href="/1D-Automata/ruleset-exploration">Ruleset Exploration</a>
                </div>
            </div>
            
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/lesson2.1">2D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/lesson2.1">Conway's Rules</a>
                    <a href="/lesson2.2">Conway's Game of Life</a>
                    <a href="/lesson2.3">Ruleset Exploration</a>
                </div>
            </div>
            
            <h3><a class="nav-button" href="/further-discovery">Further Discovery</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>
    <!-- ************************************** -->

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Lesson 1: Basics of Cellular Automata</h1>

            <p>
                This first lesson will teach some of the basics of cellular automata through 1-dimensional automata. By the end, you will better
                understand how cellular automata actually work!
            </p>

            <h3>Learning Objectives</h3>

            <ul>
                <li>Recognize what a cell is, in the context of cellular automata</li>
                <li>Identify cellular automata rulesets and be able to predict changes in these rulesets</li>
                <li>Understand how basic neighborhoods interact across generations</li>
            </ul>

            <h3><a href="/lesson1.1">1.1: Cells</a></h3>
            <p>Explore cells, the building blocks of cellular automata.</p>

            <h3><a href="/lesson1.2">1.2: Cell Interactions</a></h3>
            <p>Invesigate the ways that cells interact with each other in generative methods.</p>

            <h3><a href="/lesson1.3">1.3: Ruleset Exploration</a></h3>
            <p>Learn how rulesets of cellular automata are defined.</p>

        </div>
        <img class="right arrow" src="images/arrow-button.png">
    </main>
</body>
</html>