<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/lesson1.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson1/section2.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>Lesson 1.2: Interactivity - Interactive Cellular Automata</title>
</head>
<body>
    <!-- *********** COMMON ELEMENTS *********** -->
    <header>
        <img class="hamburger-menu" src="/images/menu-button.png">
        <h1><a href="/">Interactive Cellular Automata</a></h1>
        <image class="info-button" src="/images/info-button.png"></image>
    </header>

    <div class="menu">
        <div class="close">
            <img class="close-button" src="/images/close-button.png">
        </div>
        <div class="links">
            <a href="/lesson1">Lesson 1 - Cellular Automata Basics</a>
            <a href="/lesson2">Lesson 2 - 2D Cellular Automata</a>
            <a href="/lesson3">Lesson 3 - Applications</a>
            <a href="/implementations">Further Exploration & Implementations</a>
        </div>  
    </div>
    <!-- ************************************** -->

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Lesson 1.2: Cell Interactivity</h1>

            



        </div>
        <img class="right arrow" src="images/arrow-button.png">
    </main>
</body>
</html>