<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/lesson1.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson1/section1.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script> <!-- for p5.js library-->
    <script src="/js/sketches/sketch1.1.js"></script>
    <title>Cells - 1D Autonoma - InteractiCA</title>
</head>
<body>
    <!-- *********** COMMON ELEMENTS *********** -->
    <header>
        <h1><a class="nav-button" href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/1D-Automata">1D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/1D-Automata/cells">Cells</a>
                    <a href="/1D-Automata/cell-interactions">Cell Interactions</a>
                    <a href="/1D-Automata/ruleset-exploration">Ruleset Exploration</a>
                </div>
            </div>
            
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/lesson2.1">2D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/lesson2.1">Cells & Patterns</a>
                    <a href="/lesson2.2">Conway's Game of Life</a>
                    <a href="/lesson2.3">Ruleset Exploration</a>
                </div>
            </div>
            
            <h3><a class="nav-button" href="/videos">Further Discovery</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>
    <!-- ************************************** -->

    <main>
        <img class="left arrow" src="/images/arrow-button.png">
        <div class="content">
            <h1>Lesson 1.1 - Cells: Interactions in 1D Grids</h1>

            <p>
                To better understand how more complex automata like those on the <a href="/">home page</a> of this site work,
                let's first cover some basic concepts.
            </p>

            <p>
                The core building blocks of cellular automata are <b>cells</b>. Cells have a <i>finite</i> (fixed) number of states. Try interacting with the cell below! Notice that it has just two
                <b>states</b>: <i>on</i> and <i>off</i> (sometimes referred to as <i>alive</i> and <i>dead</i>, <i>1</i> and <i>0</i>, or <i>true</i> and <i>false</i>). This is common, though more
                complex automata can have more states. Observe that a cell can only take a <i>single</i> state at any given time.
            </p>

            <div class="container">
                <div id="boxContainer"></div>
            </div>

            <p>   
                Now, let's arrange a row of these same cells together. In cellular automata, this is a <b>1-Dimensional Grid</b> of cells.
            </p>

            <div class="container">
                <div class="container" id="arrayContainer"></div>
            </div>

            <p>
                This is great - but isn’t a cellular automaton. Why? The cells don’t interact with each other! These interactions are a crucial
                part of what makes a cellular automata work. Let's add this to the simulation below, which is now a simple cellular automata!
            </p>

            <p>
                <i>Using the simulation: Turn some cells on to set the initial state, then click <b>Generate Next Step</b> to step through
                    discrete <b>timesteps</b>. You are limited to 10 timesteps. Use the <b>⟳</b> button to reset the simulation to its original state. </i>
            </p>

            <div class="container" id="generatorContainer0"></div>
            <div id="buttons0">
                <div class="container" id="generateButton0"></div>
                <div class="container" id="resetButton0"></div>
            </div>

            <p>
                To better see the interactions over time, cellular automata are often displayed with <i>each timestep on a separate row</i>. Each timestep
                (or row) is often described as a <b>generation</b>. Note that the simulation below also includes a generation number that starts at 0 for the
                initial state <i>(this is sometimes called zero-indexing)</i>.
            </p>

            <div class="container" id="generatorContainer"></div>
            <div class="container" id="generationLabel"></div>
            <div id="buttons">
                <div class="container" id="generateButton"></div>
                <div class="container" id="resetButton"></div>   
            </div>

            <h3>Check Your Understanding</h3>

            <p>How many states do cells have? How many can they have at a time?</p>

            <p>What is a generation?</p>

            <p>How were the cells in the final simulations interacting?</p>



        </div>
        <img class="right arrow" src="/images/arrow-button.png">
    </main>
</body>
</html>