/* COMMON ELEMENT STYLING */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

/* HEADER STYLING */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 124, 206);
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  color: white;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

/* REMOVED FROM PROJECT */
/* .hamburger-menu {
  height: 50px;
  margin-left: 20px;
}

.hamburger-menu:hover {
  cursor: pointer;
} */

header h1 a {
  color: white;
  font-size: 25pt;
  margin-left: 20px;
}

.info-button {
  height: 35px;
  margin-right: 20px;
}

.info-button:hover {
  cursor: pointer;
}

/* MENU STYLING */
.menu {
  background-color:rgb(8, 126, 59);
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  height: 40px;
  margin: 0.5vw;
}

.close-button:hover {
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
}

.links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.5s;
  color: white;
}

.links a:hover {
  cursor: pointer;
  color: rgb(107, 188, 255);
}

/* MAIN STYLING */
main {
  margin-top: 80px;
  padding: 1vw;
}

.animation-right {
  animation: electric-slide-right 1s;
}

@keyframes electric-slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animation-left {
  animation: electric-slide-left 1s;
}

@keyframes electric-slide-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.arrow {
  height: 45px;
  position: fixed;
  top: 50%;
}

.arrow:hover {
  cursor: pointer;
}

.left {
  transform: rotate(180deg);
}

.right {
  right: 10px;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}