.pages {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scrollable-content {
  height: 1000px; /* Set the height of your vertically scrolling content here */
}
.page {
  flex-shrink: 0;
  width: 100vw;
  height: 80vh;
  scroll-snap-align: start;
}
.content {
  width: 400vw;
  max-width: 1900px;
  height: 100vh;
  max-height: 1000px;
  overflow-y: scroll;
}
/* Optional styles to customize the appearance of the pages */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.page:nth-of-type(1) {
  background-color: #1abc9c;
}

.page:nth-of-type(2) {
  background-color: #2ecc71;
}

.page:nth-of-type(3) {
  background-color: #3498db;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}