<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/implementations.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/implementations.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>Application Videos - InteractiCA</title>
</head>
<body>
    <header>
        <h1><a href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <h3><a href="/lesson1">1D Automata</a></h3>
            <h3><a href="/lesson2">2D Automata</a></h3>
            <h3><a href="/lesson3">CGoL</a></h3>
            <h3><a href="/videos">Application Videos</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>

    <div class="menu">
        <div class="close">
            <img class="close-button" src="/images/close-button.png">
        </div>
        <div class="links">
            <a href="/lesson1">Lesson 1 - Cellular Automata Basics</a>
            <a href="/lesson2">Lesson 2 - 2D Cellular Automata</a>
            <a href="/lesson3">Lesson 3 - Applications</a>
            <a href="/implementations">Further Exploration & Implementations</a>
        </div>  
    </div>

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Further exploration: Cellular Automata Implementations</h1>

            <h2>Cellular Automata in 3D!</h2>

            <div class="videos">
                <div>
                    <h3>Caves, explosions, gliders</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQJ5aEsP6Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
                </div>
    
                <div>
                    <h3>Fractals, organic growth</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IbVi5VSapFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
    
                <div>
                    <h3>Plant like growth</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XA7DHeVb0go" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            

            <p>All three videos were created using <a href="https://softology.pro/voc.htm" target="_blank">Visions of Chaos</a>, a free software, created by <a href="https://softologyblog.wordpress.com/" target="_blank">Softology</a></p>
            

            <h2>Organic Cellular Automata!</h2>

            <div class="videos">
                <div>
                    <h3>Molecular patterns</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQJ5aEsP6Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
    
                <div>
                    <h3>Cellular patterns</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IbVi5VSapFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
    
                <div>
                    <h3>Slime mold</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XA7DHeVb0go" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <p>First two videos were created using <a href="https://github.com/Slackermanz/VulkanAutomata" target="_blank">Vulkan Automata</a>, an open source software, created by <a href="https://slackermanz.com/" target="_blank">Slackermanz</a></p>



        </div>
        <img class="right arrow" src="images/arrow-button.png">
    </main>
</body>
</html>