<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/index.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>Home - InteractiCA</title>
</head>
<body>
    <header>
        <h1><a href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <h3><a href="/lesson1">1D Automata</a></h3>
            <h3><a href="/lesson2">2D Automata</a></h3>
            <h3><a href="/lesson3">CGoL</a></h3>
            <h3><a href="/videos">Application Videos</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>

    <div class="menu">
        <div class="close">
            <img class="close-button" src="/images/close-button.png">
        </div>
        <div class="links">
            <a href="/lesson1">Lesson 1 - Cellular Automata Basics</a>
            <a href="/lesson2">Lesson 2 - 2D Cellular Automata</a>
            <a href="/lesson3">Lesson 3 - Applications</a>
            <a href="/implementations">Further Exploration & Implementations</a>
        </div>  
    </div>

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Welcome</h1>

            <h2>What is Cellular Automata?</h2>
            <p>Brief Description.</p>
            <h2>Why should I learn about Cellular Automata?</h2>
            <p>Brief Description.</p>
            <h2>What is this project?</h2>
            <br>
            <p>[Also add some cool CA demos to get people interested]</p>
            
        </div>
        <img class="right arrow" src="images/arrow-button.png">
    </main>
</body>
</html>