<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/lesson3.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson3.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>Conway's Game of Life - InteractiCA</title>
</head>
<body>
    <header>
        <h1><a href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <h3><a href="/lesson1">1D Automata</a></h3>
            <h3><a href="/lesson2">2D Automata</a></h3>
            <h3><a href="/lesson3">CGoL</a></h3>
            <h3><a href="/videos">Application Videos</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>

    <div class="menu">
        <div class="close">
            <img class="close-button" src="/images/close-button.png">
        </div>
        <div class="links">
            <a href="/lesson1">Lesson 1 - Cellular Automata Basics</a>
            <a href="/lesson2">Lesson 2 - 2D Cellular Automata</a>
            <a href="/lesson3">Lesson 3 - Applications</a>
            <a href="/implementations">Further Exploration & Implementations</a>
        </div>  
    </div>

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Lesson 3: Conway's Game of Life</h1>
            <p>This interactive simulation is a playground for cellular life!</p>
            <p>Try clicking and dragging your mouse around on the board to create new life! Controls are at the top of the simulation panel.</p>
            <iframe src="https://codesandbox.io/embed/conways-game-of-life-vxsmmm?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.jsx&theme=dark"
                style="width:100%;height:600px;border:0"
                title="Conway&#039;s Step"
                allow=""
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
            </iframe>
            <p>Now that you've experimented with the simulation, lets modify it!! In this lesson, we've been using Conway's rules. Lets change that.</p>
            <p>This guide covers how to transform the code into 2 different interesting states, experiment to find your own!</p>

            <div class="code-changes">
                <div class="change">
                    <h3>Maze Generator:</h3>
                    <p>1: If it's not already, expand the code editor with the slider to the left of the simulation</p>
                    <p>2: On line 62, change the right side of the equality statement from "neighbors > 3" to "neighbors > 4"</p>
                    <p>3: Hit the refresh button in the very bottom left of the simulation panel to see your change applied</p>
                </div>

                <div class="change">
                    <h3>Cave Generator</h3>
                    <p>1: Go to line 62, and comment it out with 'ctrl + /'</p>
                    <p>2: On line 60, change the right side of the equality statement from "neighbors &lt; 2" to "neighbors &lt 4"</p>
                    <p>3: On line 64, change the right side of the equality statement from "neighbors === 3" to "neighbors > 4"</p>
                </div>
            </div>

        </div>
        <img class="right arrow" src="images/arrow-button.png">
    </main>
</body>
</html>