<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/lesson2.1.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson2.1.js" type="module" defer></script>
    <script src="/js/sketches/sketch1.1.js"></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>2D Autonoma- InteractiCA</title>
</head>

<body>
    <!-- *********** COMMON ELEMENTS *********** -->
    <header>
        <h1><a class="nav-button" href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/1D-Automata">1D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/1D-Automata/cells">Cells</a>
                    <a href="/1D-Automata/cell-interactions">Cell Interactions</a>
                    <a href="/1D-Automata/ruleset-exploration">Ruleset Exploration</a>
                </div>
            </div>
            
            <div class="dropdown">
                <h3><a class="dropdown-top nav-button" href="/lesson2.1">2D Automata <span style="font-size: 12pt">▼</span></a></h3>
                <div class="dropdown-content">
                    <a href="/lesson2.1">Cells & Patterns</a>
                    <a href="/lesson2.2">Conway's Game of Life</a>
                    <a href="/lesson2.3">Ruleset Exploration</a>
                </div>
            </div>
            
            <h3><a class="nav-button" href="/further-discovery">Further Discovery</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>
    <!-- ************************************** -->
    
    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <div >
                <h1>2D Automata Cells and Patterns</h1>

                <p>&emsp;Throughout this lesson, we will investigate how 2D cellular automata works and unique patterns in Conway's game of life.</p>
                <p>&emsp;Learning objectives: </p>

                <div style=" font-weight: bold;">

                    <p>&emsp;&emsp; ● Identify the period of a pattern</p>
                    <p>&emsp;&emsp; ● Learn terminology for classes of patterns </p>
                    <p>&emsp; </p>
                </div>

            </div>
            <h1>Part 1. Naibours</h1>
            <div class="container">
                <div id="boxContainer"></div>
            </div>
            <h1>Part 2. Patterns</h1>
            <p>&emsp;Use the "step" button in the interactive panel to step through the simulation</p>


            <div class="examples">
                <div style="width: 50%; background-color: #d8d8d8; padding-left: 10px;">
                    <h2>&emsp;Oscillators</h2>
                    <iframe src="https://codesandbox.io/embed/conways-step-6mojjc?hidedevtools=1"
                        style="width:450px;height: 475px; border:0" title="Conway&#039;s Step" allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
                    </iframe>
                    <p>Repeating patterns are known as oscillators</p>
                    <p>The steps to repeat is an oscillator's period</p>
                    <p>What is the period of the Pulsar pattern?</p>
                    <div>
                        <button class="multiplechoice" onclick="checkAnswer(1, 3, 1)">1 Step</button>
                        <button class="multiplechoice" onclick="checkAnswer(2, 3, 1)">2 Steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(3, 3, 1)">3 Steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(4, 3, 1)">4 Steps</button>
                        <p id="answerStatus1" size></p>
                    </div>
                </div>
                <div style="width: 10%; background-color: #ffffff;"></div>
                <div style="width: 50%; background-color: #d8d8d8; padding-left: 10px;">
                    <h2>&emsp;Spaceships</h2>
                    <iframe src="https://codesandbox.io/embed/conways-glider-g3lwrq?hidedevtools=1"
                        style="width:450px;height: 475px; border:0" title="Conway&#039;s Step" allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
                    </iframe>
                    <p>Moving repeating patterns are known as spaceships</p>
                    <p>Spaceships come in many shapes and sizes</p>
                    <p>What is the period of this spaceship?</p>
                    <div>
                        <button class="multiplechoice" onclick="checkAnswer(1, 4, 2)">1 Step</button>
                        <button class="multiplechoice" onclick="checkAnswer(2, 4, 2)">2 Steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(3, 4, 2)">3 Steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(4, 4, 2)">4 Steps</button>
                        <p id="answerStatus2" size></p>
                    </div>
                </div>
                <div style="width: 10%; background-color: #ffffff;"></div>
                <div style="width: 50%; background-color: #d8d8d8; padding-left: 10px;">
                    <h2>&emsp;Glider Guns</h2>
                    <iframe src="https://codesandbox.io/embed/gospergun-ih8wo3?hidedevtools=1"
                        style="width:450px;height: 475px; border:0" title="Glider Guns" allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">

                    </iframe>
                    <p>Glider guns are oscillators that make spaceships</p>
                    <p>The first glider gun won a $50 prize ($400 today)</p>
                    <p>What is the period of the gliders this gun makes?</p>
                    <div>
                        <button class="multiplechoice" onclick="checkAnswer(1, 4, 3)">1 step</button>
                        <button class="multiplechoice" onclick="checkAnswer(2, 4, 3)">2 steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(3, 4, 3)">3 steps</button>
                        <button class="multiplechoice" onclick="checkAnswer(4, 4, 3)">4 steps</button>
                        <p id="answerStatus3" size></p>
                    </div>
                </div>
            </div>
        </div>


        </div>
        <img class="right arrow" src="images/arrow-button.png">


    </main>
</body>
<style>
    .hint-button {
        font-size: 22px;
    }
</style>
<style>
    #answerStatus1 {
        font-size: 16px;
    }
</style>
<style>
    #answerStatus2 {
        font-size: 16px;
    }
</style>
<style>
    #answerStatus3 {
        font-size: 16px;
    }
</style>
<style>
    .multiplechoice {
        font-size: 22px;
    }
</style>

<script>
    function checkAnswer(clickedButton, correctAnswer, questionID) {
        if (clickedButton === correctAnswer) {
            document.getElementById("answerStatus" + questionID).textContent = "Correct! The pattern takes " + correctAnswer + " steps to repeat";
        } else {
            document.getElementById("answerStatus" + questionID).textContent = "Incorrect. How many clicks does it take for the pattern to repeat?";
        }
    }
</script>

</html>