<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/lesson2.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <script src="/js/lesson2.js" type="module" defer></script>
    <script src="/js/common.js" type="module" defer></script>
    <title>2D Autonoma- InteractiCA</title>
</head>
<body>
    <header>
        <h1><a href="/">InteractiCA</a></h1>

        <div class="nav-bar">
            <h3><a href="/lesson1">1D Automata</a></h3>
            <h3><a href="/lesson2">2D Automata</a></h3>
            <h3><a href="/lesson3">CGoL</a></h3>
            <h3><a href="/videos">Application Videos</a></h3>
        </div>

        <image class="info-button" src="/images/info-button.png"></image>
    </header>

    <div class="menu">
        <div class="close">
            <img class="close-button" src="/images/close-button.png">
        </div>
        <div class="links">
            <a href="/lesson1">Lesson 1 - Cellular Automata Basics</a>
            <a href="/lesson2">Lesson 2 - 2D Cellular Automata</a>
            <a href="/lesson3">Lesson 3 - Applications</a>
            <a href="/implementations">Further Exploration & Implementations</a>
        </div>  
    </div>

    <main>
        <img class="left arrow" src="images/arrow-button.png">
        <div class="content">
            <h1>Conway's Game of Life</h1>
            
            <p>&emsp; Throughout this lesson, we will investigate unique patterns in Conway's game of life then, let you play with the simulation, then modify it!</p>
            <p>&emsp;Learning objectives: </p>
            <p>&emsp;&emsp; Identify periods in cellular automata patterns</p>
            <p>&emsp;&emsp; Learn terminology for classes of patterns </p>
            

            <h1>Part 2. Patterns</h1>
            <p>&emsp;Use the "step" button in the interactive panel to step through the simulation</p>


            <div class="examples">
                <div>
                    <h2>&emsp;Oscillators</h2>
                    <iframe src="https://codesandbox.io/embed/conways-step-6mojjc?hidedevtools=1"
                        style="width:450px;height: 475px; border:0"
                        title="Conway&#039;s Step"
                        allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
                    </iframe>
                    <p>Repeating patterns are known as oscillators</p>
                    <p>The steps to repeat is an oscillator's period</p>
                    <p>What is the period of the Pulsar pattern?</p>
                    <div>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <p>Quiz not implemented yet -> Carry this over from old project</p>
                    </div> 
                </div>

                <div>
                    <h2>&emsp;Spaceships</h2>
                    <iframe src="https://codesandbox.io/embed/conways-glider-g3lwrq?hidedevtools=1"
                        style="width:450px;height: 475px; border:0"
                        title="Conway&#039;s Step"
                        allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
                    </iframe>
                    <p>Moving repeating patterns are known as spaceships</p>
                    <p>Spaceships come in many shapes and sizes</p>
                    <p>What is the period of this spaceship?</p>
                    <div>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <p>Quiz not implemented yet -> Carry this over from old project</p>
                    </div> 
                </div>
                
                <div>
                    <h2>&emsp;Glider Guns</h2>
                    <iframe src="https://codesandbox.io/embed/gospergun-ih8wo3?hidedevtools=1"
                        style="width:450px;height: 475px; border:0"
                        title="Glider Guns"
                        allow=""
                        sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
                        
                    </iframe>
                    <p>Glider guns are oscillators that make spaceships</p>
                    <p>The first glider gun won a $50 prize ($400 today)</p>
                    <p>What is the period of this gliders this gun makes? (it's 4)</p>
                    <div>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <p>Quiz not implemented yet -> Carry this over from old project</p>
                    </div> 
                </div>  
            </div>     
        </div>
        <div class="content">
            <h1>Part 3. Conway's Game of Life</h1>
            <p>This interactive simulation is a playground for cellular life!</p>
            <p>Try clicking and dragging your mouse around on the board to create new life! Control are at the top of the simulation panel.</p>
            <iframe src="https://codesandbox.io/embed/conways-game-of-life-vxsmmm?hidenavigation=1&editorsize=0&hidenavigation=1&hidedevtools=1"
                style="width:1280px;height:600px;border:0"
                title="CGOL"
                allow=""
                sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
            </iframe>
            <div class="code-changes">
                <div class="change">
                    <h3>Maze Generator:</h3>
                    <p>1: If it's not already, expand the code editor with the slider to the left of the simulation</p>
                    <p>2: On line 62, change the right side of the equality statement from "neighbors > 3" to "neighbors > 4"</p>
                    <p>3: Hit the refresh button in the very bottom left of the simulation panel to see your change applied</p>
                </div>

                <div class="change">
                    <h3>Cave Generator</h3>
                    <p>1: Go to line 62, and comment it out with 'ctrl + /'</p>
                    <p>2: On line 60, change the right side of the equality statement from "neighbors &lt; 2" to "neighbors &lt 4"</p>
                    <p>3: On line 64, change the right side of the equality statement from "neighbors === 3" to "neighbors > 4"</p>
                </div>
            </div>

        </div>
        <img class="right arrow" src="images/arrow-button.png">

        
    </main>
</body>
</html>